{% extends 'basic.html' %}
{% block title %} Forgot Password {% endblock title %}

{% block body %} 
<!-- <h1>Built-In Login Logout</h1> -->
<div class="container my-2">
<h2>Reset Password</h2>
<p style="color:red;">We have sended you reset password link on your email. Please Check Your Email.</p>
<a href="{% url 'login' %}" role="button" class="btn btn-primary" >Back to Login Page</a>
<br><br>
<p style="color:red;"><b>Please check the Spam</b> if You are not able to see the Mail</p>
</div>
{% endblock body %}